Repository navcoin/navcoin-core, pull requests merged in 2020-07, with the labels that each got.

#727 [RPC] Correctly label isstakable in the validateaddress help response
  src/rpc/misc.cpp
Labels: rpc

#676 [GUI] Added config menu button and moved options dialog into it's own page
  src/qt/forms/optionsdialog.ui
  src/qt/navcoingui.cpp
  src/qt/navcoingui.h
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Labels: gui, ready for review

#724 [RPC] Address history index
  src/addressindex.h
  src/main.cpp
  src/main.h
  src/pos.cpp
  src/pos.h
  src/rpc/client.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/txdb.cpp
  src/txdb.h
Labels: ready for review, rpc

#726 [GUI] Disabled DAO notification if not staking
  src/qt/navcoingui.cpp
  src/qt/navcoingui.h
Labels: enhancement, gui, ready for review

#725 [DAO][GUI] Updated links to navexplorer dao pages
  src/qt/communityfunddisplaydetailed.cpp
  src/qt/communityfunddisplaypaymentrequestdetailed.cpp
  src/qt/communityfundsuccessdialog.cpp
  src/qt/daopage.cpp
Labels: dao, gui, needed for final release, ready for review

#728 [GUI] Add voting address to the cold staking wizard
  src/qt/coldstakingwizard.cpp
  src/qt/coldstakingwizard.h
Labels: needed for final release, ready for review

#730 [WALLET] Fix -wallet issue #729
  src/qt/navcoin.cpp
  src/qt/rpcconsole.cpp
  src/qt/sendcoinsdialog.cpp
  src/util.cpp
  src/util.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: ready for review

#734 [CLEAN] Remove declaration of undefined function
  src/script/script.h
Labels: ready for review

#732 [RPC] getaddresshistory counts balance for whole history even when range
  src/rpc/misc.cpp
Labels: ready for review
